.container00 {
  &.container05 {
    background-image: url("../images/falcon9/01.jpg");
  }

  &.container06 {
    background-image: url("../images/falcon9/02.jpg");
  }

  &.carousel01 {
    background-image: url("../images/falcon9/03.jpg");
  }

  &.carousel02 {
    background-image: url("../images/falcon9/04.jpg");
  }

  &.carousel03 {
    background-image: url("../images/falcon9/05.jpg");
  }

  &.carousel04 {
    background-image: url("../images/falcon9/06.jpg");
  }

  &.carousel05 {
    background-image: url("../images/falcon9/07.jpg");
  }

  &.container07 {
    background-image: url("../images/falcon9/08.jpg");
  }
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titleNumb {
    font-size: 90px;
  }

  .subtitleNumb {
    font-size: 20px;
  }
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carousel {
  img {
    height: 100vh;
  }

  .carouselText {
    background-color: black;
  }
} 

@media (max-width: 770px) {
  .numbers {
    .titleNumb {
      font-size: 80px;
    }

    .subtitleNumb {
      font-size: 18px;
    }
  }

  .falcon9Desc {
    width: auto;
  }

  #overViewPosition {
    padding-top: 35%;
  }
}

@media (max-width: 576px) {
  .numbers {
    height: auto;
  }

  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 50px;
  }

  .falcon9Desc {
    font-size: 18px;
    line-height: 35px
  }

  .subtitleFalcon {
    font-size: 16px
  }
  
}