.container00 {
  &.container08 {
    background-image: url("../../images/humanFlight/01.jpg");
  }

  &.container09 {
    background-image: url("../../images/humanFlight/02.jpg");
  }

  &.container10 {
    background-image: url("../../images/humanFlight/03.jpg");
  }

  &.container11 {
    background-image: url("../../images/humanFlight/04.jpg");
  }

  &.container12 {
    background-image: url("../../images/humanFlight/05.jpg");
  }
}

.container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titleHuman {
    font-size: 90px;
  }

  .subtitleHuman {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
  }
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .textDescEarth {
    color: $table-item;
    font-weight: 400;
    font-size: 20px;
    width: 800px;
  }
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media  (max-width: 768px) {
  .container01Content {  
    img {
      width: 160px;
    }
  }

  .containerRightContent {
    margin-left: 15%;
    padding-top: 5%;
  }

  .containerLeftContent {
    margin-left: 15%;
    padding-top: 5%;
  }

  .earthDesc {  
    .textDescEarth {
      color: $table-item;
      font-weight: 400;
      font-size: 18px;
      width: auto;
    }
  }
}

@media  (max-width: 600px) {
  .container01Content {
    .titleHuman {
      font-size: 60px;
    }

    .subtitleHuman {
      font-size: 24px;
    }
  }

  .containerRightContent {
    margin-left: 5%;
  }

  .containerLeftContent {
    margin-left: 5%;
  }

  .titleSection {
    font-size: 50px;
  }
}

@media  (max-width: 400px) {
  .container01Content {
    .titleHuman {
      font-size: 50px;
    }

    img {
      width: 100px;
    }
  }

  .titleSection {
    font-size: 40px;
  }
}

@media  (max-width: 330px) {
  .container01Content {
    .titleHuman {
      font-size: 40px;
    }

    .subtitleHuman {
      font-size: 20px;
    }
  }
}